utils/__pycache__/matrices.cpython-310.pyc
source/__init__.pyc
source/cell.pyc
source/edge_detection.pyc
source/graham_scan.pyc
source/inertia.pyc
source/mymath.pyc
source/setup_points.pyc
source/tissue.pyc
source/voronoi.pyc
source/__pycache__/__init__.cpython-310.pyc
source/__pycache__/__init__.cpython-36.pyc
source/__pycache__/__init__.cpython-37.pyc
source/__pycache__/__init__.cpython-38.pyc
source/__pycache__/__init__.cpython-39.pyc
source/__pycache__/cell.cpython-310.pyc
source/__pycache__/cell.cpython-36.pyc
source/__pycache__/cell.cpython-38.pyc
source/__pycache__/cell.cpython-39.pyc
source/__pycache__/edge_detection.cpython-310.pyc
source/__pycache__/edge_detection.cpython-36.pyc
source/__pycache__/edge_detection.cpython-38.pyc
source/__pycache__/edge_detection.cpython-39.pyc
source/__pycache__/graham_scan.cpython-310.pyc
source/__pycache__/graham_scan.cpython-36.pyc
source/__pycache__/graham_scan.cpython-38.pyc
source/__pycache__/graham_scan.cpython-39.pyc
source/__pycache__/inertia.cpython-310.pyc
source/__pycache__/inertia.cpython-36.pyc
source/__pycache__/inertia.cpython-38.pyc
source/__pycache__/inertia.cpython-39.pyc
source/__pycache__/mymath.cpython-310.pyc
source/__pycache__/mymath.cpython-36.pyc
source/__pycache__/mymath.cpython-38.pyc
source/__pycache__/mymath.cpython-39.pyc
source/__pycache__/setup_points.cpython-310.pyc
source/__pycache__/setup_points.cpython-36.pyc
source/__pycache__/setup_points.cpython-38.pyc
source/__pycache__/tissue.cpython-310.pyc
source/__pycache__/tissue.cpython-36.pyc
source/__pycache__/tissue.cpython-38.pyc
source/__pycache__/tissue.cpython-39.pyc
utils/__pycache__/__init__.cpython-310.pyc
utils/__pycache__/fileio.cpython-310.pyc
utils/__pycache__/geometry.cpython-310.pyc
utils/__pycache__/mechanics.cpython-310.pyc
utils/__pycache__/read_conf.cpython-310.pyc
utils/__pycache__/readfile.cpython-310.pyc
utils/__pycache__/trace.cpython-310.pyc
utils/__pycache__/visualise.cpython-310.pyc
Output/*
Input/*
misc/*
Old_Code/*
*.pyc